<div class="border">
  <h1>Welcome to YumYum Restaurant Finder!</h1>
  <p>@Html.ActionLink("See all the Restaurants!", "Index", "Restaurant")</p>
  <p>@Html.ActionLink("View food by type", "Index", "Restaurant")</p>
</div>